[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NormExpression"]
	path = NormExpression
	url = https://github.com/cran/NormExpression
	shallow = true
	registered = true
